$blue-800: hsl(234, 29%, 20%);
$blue-700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%, 58%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 100%, 67%);
$red-input: hsla(4, 100%, 67%, 0.216);

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

header {
  img {
    object-fit: cover;
  }
}

main {
  padding: 3.2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  h1, p {
    color: $blue-800;
  }

  h1, label, button {
    font-weight: 700;
  }

  .list-item {
    display: flex;
    gap: 1em;
    align-items: start;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    font-family: 'Roboto', sans-serif;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: none;
      margin-top: 2rem;

      .email-label{
        display: flex;
        justify-content: space-between;

        label, span {
          font-size: 1.2rem;
        }

        span {
          color: $red;
          font-weight: 700;
          display: none;
        }

        .error-message {
          color: $red;
        }
      }

      input {
        border: 1px solid $grey;
        padding: 2rem 3rem;
        border-radius: .8rem;
        font-size: 1.6rem;
      }

      .error-input {
        background-color: $red-input;
        border: 1px solid $red;
        color: $red;
      }
    }

    button {
      background-color: $blue-800;
      color: $white;
      border: none;
      padding: 2rem 3rem;
      border-radius: .8rem;
    }

    button:hover {
      cursor: pointer;
      background-color: $blue-700;
    }
  }
}

.hidden#success-page {
  display: none;
}

#success-page {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: $white;
  position: absolute;

  #success-info {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 3.2rem 2rem;
    padding-bottom: 8rem;

    img {
      width: 60px;
      height: 60px;
    }

    h2, p span {
      color: $blue-800;
      font-weight: 700;
    }

    h2 {
      font-size: 3.2rem;
    }

    p {
      color: $blue-800;
      line-height: 150%;
    }
  }

  button {
    background-color: $blue-800;
    color: $white;
    font-weight: 700;
    letter-spacing: .05rem;
    border: none;
    padding: 2rem 3rem;
    border-radius: .8rem;
    margin: 0 2rem;
    transform: translateY(224%);
  }

  button:hover {
    cursor: pointer;
    background-color: $blue-700;
  }
}
